@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif; 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.secondary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 36px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
}
/* common css end */
.header{
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
.navibar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}
.navibar h2{
    font-weight: 800;
    font-size: 45px;
}

.navbar-items{
    display: flex;
    gap: 50px;
    align-items: center;
}
/* navbar styles end */

/* banner styles start */
.banner{
    display: flex;
    justify-content: center;
    margin: 0 35px 0 150px;
}
.banner-content{
    max-width: 585px;

}
.banner-grettings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin: 5px 0 20px 0;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn{
    margin-right: 30px;
}
.banner-pp{
    width: 584px;
}
/* about section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    padding: 130px 150px;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 130px;
    text-align: center;
}
.about p{
    margin: 30px 0;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 20px;
    font-weight: 400;
}
.item-description{
    font-size: 20px;
    font-weight: 700;
}
/* skills */
.skill{
    width: 267px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #0000000f;
    border-radius: 5px;
}
.skills p{
    margin-top: 30px;
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill-title{
    margin-top: 30px;
    margin-bottom: 30px;
}